<section id="nuestros-programas" >
  <div class="container">
      <h2>Proyectos Realizados</h2>
          <div class="programas">
              <div class="carta">
                  <h3>Programa Completo</h3>
                  <p>Programa que permite:
                  crear, leer, actualizar, eliminar datos procedentes de una base de datos ya existente.</p>
                  <button>+ Info</button>
              </div>
              <div class="carta">
                  <h3>Programa JS</h3>
                  <p>Piano creado con lenguaje JavaScript, con sonido incluido y se puede tocar con algunas teclas del teclado</p>
                  <button>+ Info</button>
              </div>
              <div class="carta">
                  <h3>website</h3>
                  <p>Pagina web de noticias creada con Bootstrap, se le har&aacute;n mejoras ya que se est&aacute; comenzando con este proyecto</p>
                  <button>+ Info</button>
              </div>
          </div>

      <div class="programas">
          <div class="carta">
              <h3>Programa JS</h3>
              <p>Ruleta creada con lenguaje JavaScript, con preguntas al azar y sus respectivas respuestas, sobre este mismo lenguaje</p>
              <button>+ Info</button>
          </div>
          <div class="carta">
              <h3>Programador Full-Stack</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente nostrum tenetur, dolore natus, officia, quibusdam atque in quo ipsum eius nesciunt dolorem maiores voluptas dolorum unde inventore? Tempore, soluta.</p>
              <button>+ Info</button>
          </div>
          <div class="carta">
              <h3>Programa Full-Stack</h3>
              <p>Programa que permite:
                  crear, leer, actualizar, eliminar datos procedentes de una base de datos ya existente. Ahora con diferentes estilos</p>
              <button>+ Info</button>
          </div>
      </div>
  </div>
  </section>
